@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root
{
    --primary-colour:#DC2626;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}
body
{
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
}
hr
{
    margin: 2rem 0rem;
}
.fluid-container
{
padding: 0rem 1rem;
}
.center-container
{
max-width: 900px;
width: 100%;
margin: auto;
padding-bottom: 1rem;
}
.links
{
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

}
.primary-link
{
margin: 2rem 2rem;
color: white ;
background-color: var(--primary-colour);
border-radius: 2rem;
padding: 0.5rem 1.2rem ;
}

.secondary-link
{
    color:var(--primary-colour);
    border-radius: 2rem;
    border-style: solid;
    border-color: var(--primary-colour);
    margin: 0rem 1rem ;
    background-color: white;
    padding:0.5rem 1.2rem ;
}
.list-non-bullet
{
    list-style: none;
    padding-inline-start: 0px;
}
.list-inline
{
    display: inline;
   
}
.nav
{
    background-color: var(--primary-colour);
    color: white;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem ;
}

.align
{
    text-align: right;
    
}
.align a
{
color: white;

}
.nav .link-active
{
    font-weight: bold;
}
.hero
{
    margin: 0rem auto;
    display: block;
    max-width: 550px;
    width: 85%;
}
.heading
{
    text-align: center;
    margin: 0.5rem ;
    color: grey;
}
.section
{
    text-align: center;
    padding: 1.5rem 0rem;
    margin: 2rem 0rem;
    border-radius: 2rem;
}
.off-white
{
    background-color:var(--off-white) ;

}
.footer
{
    text-align: center;
    background-color: var(--primary-colour);
    color: white;
    border-top-right-radius: 1.5rem;
    padding: 2rem 0rem;
    
}
.footer a
{
    color: white;
 
}
.footer div
{
    font-size: large;
    font-weight: bold;
}